body{
    font-family: "Azeret Mono", monospace;
}

/* Shared Styles */

.btn-primary{
    padding: 11px 20px;
    font-size: 18px;
    color: black;
    border-radius: 6px;
}

.btn-secondery{
    padding: 11px 20px;
    font-size: 18px;
    background-color: black;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
}

.text-center{
    text-align: center;
}


/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
}

/* Banner Styles */

.banner{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1440px;
    height: 620px;
    margin-top: 40px;
}

.banner-content{
    padding: 30px 270px 50px 270px;
    
}

.banner-title{
    font-size: 40px;
    font-weight: ExtraBold;
}

.banner-p{
    font-weight: 300;
}

/* main styles */

main{
   max-width: 1140px;
   margin-top: 50px;
   padding: 0px 150px 2980px 150px;
   border: 1px solid blue;
}

/* development styles */

.develop-title{

   font-size: 32px;
   font-weight: 800;
}
.development-p{
  
   font-weight: 300;
}


.development-site{
    padding: 80px 97px 80px 97px;
    background-color: rgb(254, 248, 248);
   
}

.development-container{
    display: flex;
    margin-top: 25px;
    padding: 30px;
    background-color: white;
}

.development-title{
    font-size: 22px;
    font-weight: 600;
}

.development-item{
    width: 100%;
}

.border-video{
    border: 2px solid rgb(43, 39, 39);
    padding: 20px;
    border-radius: 10px;
}

/* My first Target */

.target-container{
    margin-top: 60px;
    display: flex;
    gap: 30px;
    
}

#deve-p{
    width: 756px;
    padding-left: 180px;
}

#container-1{
    box-shadow: 10px 20px 20px  rgb(157, 133, 133);
    background-color: #e67255;
    padding: 40px;
    border-radius: 15px;
}

#container-2{
    box-shadow: 10px 20px 20px  rgb(157, 133, 133);
    background-color: #4fd1a3;
    padding: 40px;
    border-radius: 15px;
}

#container-3{
    box-shadow: 10px 20px 20px  rgb(157, 133, 133);
    background-color: #6399e5;
    padding: 40px;
    border-radius: 15px;
}

/* Next Target area */

.Target-section{
    margin-top: 130px;
}

.next-target-container{
    display: flex;
    padding: 30px;
    border: 1px solid rgb(87, 58, 58);
    margin-top: 25px;
    border-radius: 20px;
}

.content{
     padding-left: 50px;
}

.node-js{
    width: 100%;
    margin-top: 50px;
}
